# =========================
#  Java - Common files
# =========================
*.class
*.log
*.ctxt
.mtj.tmp/
hs_err_pid*
replay_pid*
*.tmp

# Packaged files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# =========================
#  Maven
# =========================
/target/
/degree_project/target/
/.mvn/wrapper/maven-wrapper.jar

# =========================
#  NetBeans
# =========================
nbproject/private/
nbbuild/
dist/
nbdist/
build/
.nb-gradle/
# sube nbproject/ si lo usas, ignora solo private

# =========================
#  IntelliJ IDEA
# =========================
*.iml
out/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/**/httpRequests
# (puedes subir codeStyles/ y runConfigurations/ si trabajas en equipo)

# =========================
#  JavaFX Scene Builder
# =========================
*.fxml~

# =========================
#  Swing (Matisse / GUI Builder)
# =========================
# (NO ignores .form si quieres versionar pantallas)
*Form.java.bak
*.java.bak
*.java.tmp

# =========================
#  Temporary & system files
# =========================
.DS_Store
Thumbs.db
.Trash-*
.nfs*